#
# PLease use a local copy ".env" and remove it from git
# git rm --cached .my_env
#
# Source your ".env" before you run terraform init, apply or destroy.
#
# Your OTC-Environment
#
export TF_VAR_domain_name="REPLACE_ME" #
export TF_VAR_tenant_name="REPLACE_ME" # 
export TF_VAR_region="eu-de" #
#
#
# AK/SK (if you use Username/Password leave empty and use the right main.tf config
#
export TF_VAR_access_key="REPLACE_ME" #
export TF_VAR_secret_key="REPLACE_ME" #
#